<h1>Article Listings</h1>
<ul>
  <%@articles.each do |article|%>
    <p>
      <strong><%= article.title%></strong>

      <!-- <p><%=article.content%></p> REMOVED for CLARITY of index page-->
      
      <%=link_to "New", new_article_path%>
      <%=link_to "Read", article%>
      <%= button_to "Delete", article, method: :delete, data: {"turbo-confirm": 'Are you sure?'} %>
    </p>
  <%end%>
</ul>
