<strong><%=@article.title%></strong>
<p><%=@article.content%></p>
<%= link_to "Home", root_path %>
<%=link_to "Edit", edit_article_path%>

<h2>New Comment</h2>
<%= form_with model: [@article, @article.comments.build] do |f| %>
  <%= f.text_area :body %>
  <p><%= f.submit %></p>
<%end%>

<h2>Comments</h2>
<% @article.comments.each do |comments| %>
<p><%=comments.body%></p>
<% end %>
